<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.mydoctor">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Basic.MedicinesActivity" />
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.Basic.VizitActivity" />
        <activity android:name=".Activity.Basic.AnalyzActivity" />
        <activity android:name=".Activity.Basic.ProcedureActivity" />
        <activity android:name=".Activity.Basic.SettingsActivity" />
        <activity android:name=".Activity.Basic.RecomendationActivity"/>
    </application>
    </manifest>
